[submodule "system/bar-rs"]
	path = system/bar-rs
	url = https://github.com/awtGerry/bar-rs.git
[submodule "package/furry-nvim"]
	path = package/furry-nvim
	url = git@github.com:awtGerry/furry-nvim.git
[submodule "dwm"]
	path = package/dwm
	url = https://github.com/awtGerry/dwm.git
